{% extends 'apply/base.html' %}
{% block content %}
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                 alt="avatar"
                                 class="rounded-circle img-fluid"
                                 style="width: 150px;">
                            <h5 class="my-3">Sewak Gautam</h5>
                            <p class="text-muted mb-1">
                                +977 9800000000
                            </p>
                            <p class="text-muted mb-4">
                                sewak@bulkipo.com
                            </p>
                            <div class="d-flex justify-content-center mb-2">
                                <a>
                                <button type="button" class="btn btn-primary mr-2">Logout</button>
                                </a>
                                <a href="{% url 'add' %}">
                                <button type="button" class="btn btn-outline-primary ms-1">Add Account</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-weight-bold">
                                        Full Name
                                    </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="mb-0 font-weight-bold">
                                        Boid
                                    </p>
                                </div>
                            </div>
                            <hr>
                            {% comment %} loop from here {% endcomment %}
                            {% for user in dmat %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0 ">
                                            {{ user.Name }}
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted mb-0 ">
                                            {{ user.Boid }}
                                        </p>
                                    </div>
                                    <div class"col-sm-9">
                                        <button type="button" class="btn btn-primary mr-2">Edit</button>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                            {% comment %} till here {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}
